@model IEnumerable<_1811062844_Nguyencaoanhtruong_Tuan3.Models.Course>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <ul>
        @foreach (var course in Model)
        {
            <li>
                <div class="date">
                    <div class="month">
                        @course.DateTime.ToString("MM")
                    </div>
                    <div class="day">
                        @course.DateTime.ToString("dd")
                    </div>

                </div>
                <div class="details">
                    <span class="lecturer">
                        @course.Lecturer.UserName
                    </span>
                    <span class="category">
                        @course.Category.Name
                    </span>
                </div>
            </li>
        }
        <!--9/7/2021  trang 34 -->
        <!--16/07/2021-->
        <!--9:27 AM 16/7 -->
        
    </ul>
</div>